body {
  font-family: "Montserrat", sans-serif;
  background-color: #f7e9b9;
  margin: 30px;
  padding: 0;
}

/* Define styles based on data-weather attribute */
body[data-weather="Sunny"] {
  background-color: #f7e9b9;
  color: #2a5510;
}

body[data-weather="Cloudy"] {
  background-color: #f4f7f8;
  color: #f47775;
}

body[data-weather="Rainy"],
body[data-weather="Snowy"],
body[data-weather="Other"] {
  background-color: #a3def7;
  color: #164a68;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}

p {
  font-size: 21px;
  margin: 2px;
}

h2 {
  font-size: 37px;
  font-weight: 700;
}

.search-box {
  max-width: 400px;
  color: #f4f7f8;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Define styles for search button and input based on data-weather attribute */
#searchButton,
#cityInput {
  max-width: 35%;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  background: #f4f7f8;
  margin-right: 20px;
  margin-left: 20px;
}

#searchButton[data-weather="Sunny"] {
  background: #2a5510;
  color: #fff;
  border: 1px solid #2a5510;
}

#searchButton[data-weather="Cloudy"] {
  background: #f47775;
  color: #fff;
  border: 1px solid #f47775;
}

#searchButton[data-weather="Snowy"],
#searchButton[data-weather="Rainy"],
#searchButton[data-weather="Other"] {
  background: #164a68;
  color: #fff;
  border: 1px solid #164a68;
}

#cityInput[data-weather="Sunny"] {
  color: #2a5510;
  border: 2px solid #2a5510;
}

#cityInput[data-weather="Cloudy"] {
  color: #f47775;
  border: 2px solid #f47775;
}

#cityInput[data-weather="Snowy"],
#cityInput[data-weather="Rainy"],
#cityInput[data-weather="Other"] {
  color: #164a68;
  border: 2px solid #164a68;
}

.error {
  font-size: 12px;
  text-align: center;
}

.weather-info {
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

#weatherIcon {
  font-size: 48px;
  margin-top: 20px;
}

.forecast {
  margin-top: 30px;
  padding: 20px;
  border-radius: 8px;
}

.weekly-forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-item {
  max-width: 360px;
  border-bottom: 1px dashed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

.cloud-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px; /* Adjust based on your requirement */
}

.moving-cloud {
  position: absolute;
  animation-name: moveCloud;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.cloud1 {
  width: 100px; /* Cloud Size */
  bottom: 10px; /* Initial Cloud Vertical Position */
  animation-duration: 20s; /* Cloud Speed */
}

.cloud2 {
  width: 130px;
  bottom: 20px;
  animation-duration: 23s;
}

.cloud3 {
  width: 75px;
  bottom: 5px;
  animation-duration: 40s;
}

.cloud4 {
  width: 95px;
  bottom: 5px;
  animation-duration: 17s;
}

.cloud5 {
  width: 95px;
  bottom: 5px;
  animation-duration: 27s;
}

@keyframes moveCloud {
  0%,
  100% {
    left: -200px;
    bottom: 10px;
  }
  25% {
    left: 50%;
    bottom: 30px; /* Highest point of vertical wave */
  }
  50% {
    left: 100%;
    bottom: 10px;
  }
  75% {
    left: 50%;
    bottom: 0px; /* Lowest point of vertical wave */
  }
}

.raindrop {
  position: absolute;
  bottom: 100%;
  animation: rainAnimation 1s linear infinite;
}

.drop1 {
  left: 10%;
  animation-delay: 0.2s;
}

.drop2 {
  left: 30%;
  animation-delay: 0.5s;
}

.drop3 {
  left: 50%;
  animation-delay: 0.8s;
}

.drop4 {
  left: 70%;
  animation-delay: 0.1s;
}

.drop5 {
  left: 85%;
  animation-delay: 0.3s;
}

@keyframes rainAnimation {
  0% {
    bottom: 100%;
    transform: translateY(0);
  }
  100% {
    bottom: 0;
    transform: translateY(300px);
  }
}
