body {
  font-family: "Montserrat", sans-serif;
  background-color: #f7e9b9;
  margin: 30px;
  padding: 0;
}

  /* Define styles based on data-weather attribute */
  body[data-weather="Sunny"] {
    background-color: #f7e9b9;
    color: #2a5510;
  }
  
  body[data-weather="Cloudy"] {
    background-color: #f4f7f8;
    color: #f47775;
  }
  
  body[data-weather="Rainy"],
  body[data-weather="Snowy"],
  body[data-weather="Other"] {
    background-color: #a3def7;
    color: #164a68;
  }

.container {
  max-width: 400px;
  margin: 0 auto;
}

p {
  font-size: 21px;
  margin: 2px;
}

h2 {
  font-size: 37px;
  font-weight: 700;
}

.search-box {
  text-align: center;
  display: flex;
  align-items: center;
}

.error {
  font-size: 12px;
  text-align: center;
}

.weather-info {
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

#weatherIcon {
  font-size: 48px;
  margin-top: 20px;
}

.forecast {
  margin-top: 30px;
  padding: 20px;
  border-radius: 8px;
}

.weekly-forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-item {
  max-width: 360px;
  border-bottom: 1px dashed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}